* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

main {
  height: 100dvh;
  display: flex;
  align-items: center;
}

.carousel {
  width: min(80%, 3500px);
  height: min(75%, 2500px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 10% 80% 10%;
  overflow: hidden;
}

.images-viewer {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  /* the translate here helps display the correct image */
  /* transform: translateX(00%); */
}

.images img {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}

button.control {
  height: min(150px, 3vh);
  width: min(150px, 3vh);
  padding: 5px;
  border-radius: 50%;
  grid-row: 1 / -1;
  place-self: center;
}

.left {
  grid-column: 1 / 2;
  z-index: 999;
}

.right {
  grid-column-start: -2;
  z-index: 999;
}


.navigation {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: max(50%, 25vw);
  height: 30%;
  margin: auto;
  padding: min(28px, 1vw);
  gap: min(75px, 2vw);
  z-index: 999;
}

.navigation button {
  background-color: white;
  opacity: .3;
  border-radius: 25px;
}

.navigation button.selected {
  opacity: 1;
}